rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow image read and write access in the 'reports' folder.
    match /reports/{imageId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
